CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
src/.vscode/settings.json
build/src/libEventCollector.a
build/hist1.pdf
build/particle_reconstruction
build/hist0.pdf
.cache/*
build/*
.idea/*
src/.vscode/tasks.json
res.root
cmake-build-debug/*
*.root