CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
src/.vscode/*
.cache/*
build/*
.idea/*
res.root
cmake-build-debug/*
*.root
libEventCollector.a
